<!-- Place inside the <head> of your HTML -->
<script type="text/javascript" src="~/Scripts/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        theme: "modern",
        plugins: [
            "advlist autolink lists link image charmap print preview hr anchor pagebreak",
            "searchreplace wordcount visualblocks visualchars code fullscreen",
            "insertdatetime media nonbreaking save table contextmenu directionality",
            "emoticons template paste textcolor"
        ],
        toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
        toolbar2: "print preview media | forecolor backcolor emoticons",
        image_advtab: true
    });
</script>
@model BPEC.Models.Certificate

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Certificate</legend>

        @Html.HiddenFor(model => model.CertificateID)

        <div class="editor-label">
            @Html.LabelFor(model => model.CertificateName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CertificateName)
            @Html.ValidationMessageFor(model => model.CertificateName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CertificateAbout)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CertificateAbout)
            @Html.ValidationMessageFor(model => model.CertificateAbout)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CertificateWhy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CertificateWhy)
            @Html.ValidationMessageFor(model => model.CertificateWhy)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CertificateWhyBPEC)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CertificateWhyBPEC)
            @Html.ValidationMessageFor(model => model.CertificateWhyBPEC)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CertificateWho)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CertificateWho)
            @Html.ValidationMessageFor(model => model.CertificateWho)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastUpdatedBy)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.LastUpdatedBy,new {@Value=User.Identity.Name, @readonly="readonly"})
            @Html.ValidationMessageFor(model => model.LastUpdatedBy)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LasyUpdatedDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.LasyUpdatedDate, new { @Value = Model.LasyUpdatedDate.ToString("dd/MM/yyyy"), @readonly="readonly"})
            @Html.ValidationMessageFor(model => model.LasyUpdatedDate)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
